.main {
  & .sidebar {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #FAFAFA;
    padding-top: 20px;
    transition: margin-left 0.5s;
    &.hidden {
      margin-left: -100%;
    }
  }
  & .content {
    padding: 16px;
  }

}
