<section class="menu">
  <ul>
    <li class="profile">
      <a routerLink="/">
        <span class="icon-profile"></span>
        <p>Nombre Apellido</p>
      </a>
    </li>
    <section class="sub-menu">
      <li><a routerLink="/otra-ruta">Gestión del sistema</a> <span class="icon-arrow-down"></span></li>
      <li><a routerLink="/otra-ruta">Gestión de usuarios</a><span class="icon-arrow-down"></span></li>
      <li><a routerLink="/otra-ruta">Gestión de programas</a><span class="icon-arrow-down"></span></li>
      <li><a routerLink="/otra-ruta">Gestión de misiones</a><span class="icon-arrow-down"></span></li>
      <li><a routerLink="/otra-ruta">Gestión de estilos y presentación</a><span class="icon-arrow-down"></span></li>
    </section>
  </ul>
  <button class="logout">
    <span class="icon-logout"></span>
    Cerrar Sesión
  </button>
</section>
