.menu {
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    & li {
      color: var(--ngx-color-secondary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      & a {
        padding: 8px 8px 8px 16px;
        text-decoration: none;
        font-size: 18px;
        display: flex;
        align-items: center;
        font-size: 16px;
        font: normal normal bold 16px/19px Euclid Circular B;
        & > span {
          &.icon-profile {
            background: transparent url('../../../../assets/icons/profile.svg') no-repeat center center;
            width: 40px;
            height: 40px;
            position: absolute;
          }
        }
        & p {
          margin-left: 50px;
        }
      }
      & .icon-arrow-down {
        background: transparent url('../../../../assets/icons/arrow-down.svg') no-repeat center center;
        width: 20px;
        height: 20px;
      }
      &:hover{
        background-color: #00000029;
        border-radius: 7px;
      }
    }
    & .sub-menu {
      margin: 0px 20px 0px 13px;
      border-top: solid 1px #1A0C3F66;
      & li {
        margin-top: 10px;
      }
    }
  }
}
